* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
    background-color: black;
    
}

.home-container{
    justify-content: space-between;
    align-items: center; /* Center along the cross axis */
    display: flex; 
    row-gap: 3rem;
}
/*right side*/
.image-container{
    width: 25rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container>img{
    width: 100%;
    height: 100%;
}

/*left section*/

.home-left{
    gap: 1rem;
    padding-right: 100px;
}

.home-title{
    position: relative;
    z-index: 1;
}

.home-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;

}
.orange-circle{
    height: 4rem;
    width: 4rem;
    background: rgba(255, 153, 0, 0.767);
    border-radius: 999px;
    position: absolute;
    right: 33%;
    top: 5%;
    z-index: -1;
}