.movers-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.movers-title{
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-top: 20px; /* Adjust this value to ensure it's below the navbar */
}

/* Each card is a flex item */


.company-card {
  border: 2px solid #ddd; /* Visible border */
  border-radius: 8px; /* Rounded corners */
  width: calc(33.333% - 20px); /* 3 items per row, minus gap */
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  transition: box-shadow 0.3s ease-in-out;
}

.additional-details-card {
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}
.company-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

/* Adjust the color as needed */
