/* Gallery.css */

.gallery {
    text-align: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    border-width: 5px;
    height: fit-content;
    border-color: rgb(255, 111, 0);
  }
  
  .image {
    width: 100%;
    height: auto;
    max-height: 250px; /* Set a maximum height for the images */
  }
  
  .control-button {
    margin-top: 10px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
  }
  
  .control-button:hover {
    background-color: #555;
  }